
.origin{
    width: 100%;
    max-width: 1200px;
    min-height: 750px;
    margin: 60px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.origin img{
    width: 525px;
    height: 525px;
    border-radius: 50%;
}
.origin .txt{
    width: 40%;
    align-self: flex-end;
    margin-bottom: 25px;
    text-align: justify;
}
.origin .txt p{
    margin-bottom: 15px;
}
.background{
    background: linear-gradient(173deg, #212121 25%, #FFB74D 25% 75%, #212121 75%);
    width: 100%;    
}
.discript{
    padding-top: 110px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 750px;
}
.discript h2{
    text-align: center;
    font-size: 76px;
    font-weight: 900;
}
.discript .wrap{
    display: flex;    
    justify-content: space-around;
    flex-flow: wrap;
    width: 100%;
    
}
.discript .wrap p{
    text-align: center;
    font-size: 36px;
    min-width: 275px;
}
.discript .wrap span{
    display: block;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
}
.member{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    /* height: 1000px; */
}
.member h2{
    font-size: 48px;
    font-weight: bold;
    margin: 40px;
}
.member h3{
    font-size: 36px;
    color: #FAFAFA;
    font-weight: bold;
    line-height: 3.5;
}
.member .wrap{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 200px;
}
.member .item{
    width: 100%;   
    max-width: 324px;
    margin-bottom: 50px;
    border: 1px solid #fafafa;
    transition: .4s;
}
.member .item img{
    width: 100%;
    vertical-align: middle;
}
.member .wrap .item .txt{
    width: 100%;
    position: relative;
    background: transparent;
    /* transition: .4s; */
    /* 為何txt有transition卻沒有轉場效果? */
    /* background-color才有轉場，background沒有 */
}
.member .item h3::after{
    content: "";
    border-top: 36px solid transparent;
    border-right: 161px solid #212121;
    border-left: 161px solid #212121;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
.member .item p{
    padding: 0 12px;
}
.member .item:hover{
    transform: translateY(-15px);
    border: 1px solid #212121;
}
.member .item:hover .txt{
    background: linear-gradient(180deg, #fb8076 0%, #feb85d 100%);
}
.member .item:hover h3::after{
    border-right: 161px solid #fb8076;
    border-left: 161px solid #fb8076;
}
.member .item:hover h3{
    color: #212121;
}
.member .item:hover p{
    color: #212121;
}
/* @media screen and (max-width: 1100px) and (min-width: 992px){
    .member .item{
        
    }
} */
@media screen and (max-width: 991px) and (min-width: 576px){
    .origin .txt{
        width: 90%; 
        max-width: 720px;       
    }
    .origin img{
        width: 90%;
        height: auto;
        max-width: 720px;
        /* display: none; */
        align-self: center;

    }
    .background{
        background: none;
        background-color: #FFB74D;        
    }
    .discript{
        height: auto;
        padding: 0 0 100px 0;
    }    
    .discript .wrap p{        
        width: 85%;
        max-width: 500px;        
    }
    .discript .wrap span{
        border-bottom: 4px solid rgba(33, 33, 33, .5);       
        border-radius: 0 0 190px 190px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        font-size: 40px;
    }
    .member .item{
        width: 100%;
        max-width: 324px;
    }
    
    
}

@media all and (max-width: 575px){
    
    .origin .txt{
        width: 90%; 
        max-width: 720px;       
    }
    .origin img{
        width: 90%;
        height: auto;
        max-width: 720px;
        /* display: none; */
        align-self: center;

    }
    .background{
        background: none;
        background-color: #FFB74D;        
    }
    .discript{
        height: auto;
        padding: 0 0 50px 0;
    }
    .discript h2, .member h2{
        font-size: 36px;
    }  
    .discript .wrap p{        
        width: 85%;
        max-width: 500px;
        font-size: 28px;        
    }
    .discript .wrap span{
        border-bottom: 4px solid rgba(33, 33, 33, .5);       
        border-radius: 0 0 45px 45px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        font-size: 32px;
    }
    .member .item{
        width: 100%;
        max-width: 324px;
        margin-bottom: 70px;
    }
    .member .wrap{
        padding-bottom: 50px;
    }
} 
