*{
    box-sizing : border-box;    
    text-decoration: none;
    /* outline: 1px solid red; */
}
body{
    background-color: #212121;
    font-family: "Roboto", "微軟正黑體";
}
h2{
    font-size: 36px;
    color: #FAFAFA;
    font-weight: bold;
    line-height: 3.5;
}
p{
    font-size: 24px;
    color: #FAFAFA;
    line-height: 1.8;
}

button{
    font-size: 24px;
    /* color: #FAFAFA; */
    border: 2px solid #FAFAFA;
    border-radius: 30px;
    background-color: hsla(0, 0%, 0%, 0);
    width: 150px;
    height: 50px;
    font-family: "Roboto", "微軟正黑體";
    outline: none; 
}
button a{
    color: #fafafa;
}
button:hover a{
    color: #212121;
}
button:hover{    
    background: linear-gradient(120deg, #fb8076 0%, #feb85d 100%);
    /* color: #212121; */
    border: transparent;
    cursor: pointer;
}

header{    
    width: 100%;    
    height: 80px;
    display: flex;
    background-color: #212121;
    position: sticky;
    top: 0px;
    z-index: 10;
}
header a img{
    width: 80px;
    height: 80px;
    margin-right: -80px;
}
nav{
    width: 100%;    
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
nav.-translate{
    transform: translateX(0px);    
}
nav.-transition{
    transition: .4s;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
nav ul li{  
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    transition: .4s;
}
nav ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 15px;
    border-bottom: 1px solid #FFB74D;

    transition: .4s;
}
nav ul li:hover{
    transform: translateY(-5px);
}
nav ul li:hover::after{
    left: 25%;
    right: 25%;
}
nav a{
    text-decoration: none;
    width: 100%;
    color: #fafafa;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;    
    background-color: #9E9E9E;
    padding-top: 35px;
}
footer .icon{
    margin: auto;
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
footer img{
    height: 57px;
    width: 57px;
}
footer p{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    color: #212121;    
    font-size: 16px;
}
footer p::before{
    content: "";
    border-top: 10px solid hsla(0, 0%, 0%, 0);
    border-right: 10px solid hsla(0, 0%, 0%, 0);
    border-left: 10px solid hsla(0, 0%, 0%, 0);
    border-bottom: 16px solid #B71C1C;
    /* 為什麼不能用translate移動? */
    position: relative;
    bottom: 22px;
    margin: 5px;
}
.copy{
    text-align: center;
    padding: 15px;
}
.path{
    margin: 60px 80px;
}    
.path a{
    color: #fafafa;    
}
.path div{
    display: inline-block;
    color: #fafafa;
}

.path a{
    text-decoration: underline;
}
.path a:last-child{
    /* font-weight: bold; */
    text-decoration: none;
    color: #FFB74D;
}
.path a + a::before{
    content: "/";
    padding: 4px;
    color: #fafafa;
}
.-on{
    cursor: default;
}
.-on::after{
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 15px;
    border-bottom: 1px solid #FFB74D;
}

/*humberger*/
.hamburg {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    align-self: center;
}
.hamburg:hover{
    cursor: pointer;
}

div.hamburg span {
    border-radius: 50px;
    background-color: #fafafa;
    width: 45px;
    height: 5px;
    display: block;
    position: absolute;
}

.span1 {
    transform: translate(-50%)rotateZ(0deg);
    top: 15%;
    left: 25px;
    transition: .6s cubic-bezier(.5,-0.51,.51,1.48);
}

.span2 {
    transform: translate(-50%);
    top: 45%;
    left: 25px;
    transition: .6s cubic-bezier(.5,-0.51,.51,1.48);
    opacity: 1;
}

.span3 {
    transform: translate(-50%)rotateZ(0deg);
    top: 75%;
    left: 25px;
    transition: .6s cubic-bezier(.5,-0.51,.51,1.48);
}

.move1 {
    transform: translate(-50%)rotate(-405deg);
    top: 45%;
    left: 25px;
    opacity: 1;
}

.move2 {
    transform: translate(-50%)rotateZ(0deg);
    top: 45%;
    left: 25px;
    opacity: 0;
}
.move3 {
    transform: translate(-50%)rotateZ(405deg);
    top: 45%;
    left: 25px;
    opacity: 1;
}
/*humberger*/


@media screen and (max-width: 1439px) and (min-width: 1200px){    
    nav{
        max-width: 1000px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    header a img{
        margin-right: 0;
    }
    nav{
        max-width: 960px;
    }
}
@media screen and (max-width: 991px){
    header a img{
        margin-right: 0;
    }
    nav{
        max-width: 650px;
    }
}
@media screen  and (max-width: 767px){
    .hamburg{
        display: block;
    }
    nav{
        max-width: 767px;
        height: calc(100vh - 80px);        
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(33, 33, 33, .9);
        transform: translateX(100%);
        

    }
    nav ul{
        flex-flow: column;
    }
    nav ul li{
        min-height: 50px;
    }
    nav ul li::after{
        display: none;
    }
    nav li a{
        font-size: 30px;
    }
    nav li a.-on{
        color: #FFB74D;

    }
    nav .-on::after{
        display: none;
    }
}
