.path{
    position: absolute;
    /* top: 40px; */
    z-index: 2;
}
.wrap{
    overflow: hidden;
    height: calc(100vh - 80px);
    position: relative;

}
.background{
    background-image: url(../img/gallery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh - 80px);
}
.wrap .talk{
    border: 2px solid #fafafa;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}
.wrap p{
    line-height: 1.6;
    text-align: center;
    font-weight: bold;
}
.wrap>div:nth-child(2){
    width: 454px;
    height: 148px;
    position: absolute;
    top: 100px;
    left: 450px;
    opacity: 0;
}
.wrap>div:nth-child(3){
    width: 524px;
    height: 238px;
    position: absolute;
    right: 400px;
    top: 350px;
    opacity: 0;

}
.wrap>div:nth-child(4){
    width: 380px;
    height: 200px;
    position: absolute;
    right: 450px;
    top: 250px;
    opacity: 0;

}
.wrap>div:nth-child(5){
    width: 400px;
    height: 180px;
    position: absolute;
    left: 25%;
    bottom: 40%;
    opacity: 0;

}
.wrap>div:nth-child(6){
    width: 310px;
    height: 250px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 15%);
    opacity: 0;

}
button{
    width: 170px;
    height: 50px;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 200%);
    opacity: 0;
    z-index: 2;
}

@keyframes shake{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

#direction{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* top: 300px; */
    /* left: 500px; */
    z-index: 20;

    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.square{
    width: 80px;
    height: 170px;
    background-color: rgba(33, 33, 33, .9);
    color: #fafafa;

    text-align: center;
    line-height: 80px;
    font-size: 24px;
    writing-mode: vertical-lr;
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 0 80px;
    border-color: rgba(33, 33, 33, .9) transparent transparent transparent;
}

@media all and (max-width: 1339px) and (min-width: 992px){
    
    .wrap>div:nth-child(2){
        width: 454px;
        height: 148px;
        top: 100px;
        left: 250px;
    }
    .wrap div:nth-child(3){
        width: 524px;
        height: 238px;
        right: 180px;
        top: 350px; 
    }
    .wrap div:nth-child(4){
        width: 380px;
        height: 200px;
        right: 200px;
        top: 100px;
    }
    .wrap div:nth-child(5){
        width: 400px;
        height: 180px;
        left: 25%;
        bottom: 40%;
    }
    .wrap div:nth-child(6){
        width: 310px;
        height: 250px;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 15%);
    }
    button{
        width: 170px;
        height: 50px;
        background-color: rgba(0, 0, 0, .7);
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 200%);
    }
}

@media all and (max-width: 991px) and (min-width: 768px){
    .background{
        background-position: center 53%;

    }
    .wrap>div:nth-child(2){
        width: 454px;
        height: 148px;
        top: 100px;
        left: 250px;
    }
    .wrap div:nth-child(3){
        width: 524px;
        height: 238px;
        right: 180px;
        top: 300px;
    }
    .wrap div:nth-child(4){
        width: 380px;
        height: 200px;
        right: 220px;
        top: 100px;
    }
    .wrap div:nth-child(5){
        width: 400px;
        height: 180px;
        left: 25%;
        bottom: 40%;
    }
    .wrap div:nth-child(6){
        width: 310px;
        height: 250px;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 15%);
    }
    button{
        width: 170px;
        height: 50px;
        background-color: rgba(0, 0, 0, .7);
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 200%);
    }
}

@media all and (max-width: 767px) and (min-width: 420px){
    .background{
        background-position: center 53%;
    }
    .wrap p{
        line-height: 1.4;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }    

    .square{
        width: 60px;
        height: 120px;
        
        line-height: 60px;
        font-size: 18px;
        writing-mode: vertical-lr;
    }
    .triangle{        
        border-width: 60px 60px 0 60px;        
    }

    .wrap>div:nth-child(2){
        width: 315px;
        height: 100px;
        top: 100px;
        left: 90px;
    }
    .wrap div:nth-child(3){
        width: 350px;
        height: 150px;
        right: 40px;
        top: 300px;

    }
    .wrap div:nth-child(4){
        width: 300px;
        height: 130px;
        right: 150px;
        top: 120px;
    }
    .wrap div:nth-child(5){
        width: 300px;
        height: 130px;
        left: 20%;
        bottom: 40%;
    }
    .wrap div:nth-child(6){
        width: 200px;
        height: 200px;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 15%);
    }
    button{
        width: 150px;
        height: 45px;
        background-color: rgba(0, 0, 0, .7);
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 200%);
        font-size: 20px;
    }
}

@media all and (max-width: 420px){
    .background{
        background-position: 49.5% 53%;
    }
    .square{
        width: 60px;
        height: 120px;
        
        line-height: 60px;
        font-size: 18px;
        writing-mode: vertical-lr;
    }
    .triangle{        
        border-width: 60px 60px 0 60px;        
    }
    .wrap p{
        line-height: 1.4;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    /* .wrap>div:nth-child(3) p{
        text-align: left;
    } */
    .wrap>div:nth-child(2){
        width: 280px;
        height: 90px;
        top: 250px;
        left: 50%;
        /* left: 20px; */

        transform: translateX(-50%);
    }
    .wrap div:nth-child(3){
        width: 280px;
        height: 140px;
        /* left: 20px; */
        left: 50%;
        top: 200px;

        transform: translateX(-50%);

    }
    .wrap div:nth-child(4){
        width: 280px;
        height: 100px;
        /* left: 20px; */
        left: 50%;
        top: 190px;  
        
        transform: translateX(-50%);
        
    }
    .wrap div:nth-child(5){
        width: 280px;
        height: 100px;
        /* left: 20px; */
        left: 50%;
        top: 170px;

        transform: translateX(-50%);

    }
    .wrap div:nth-child(6){
        width: 200px;
        height: 150px;
        /* left: 70px; */
        left: 50%;
        top: 150px;
        transform: translate(-50%, 0);
    }
    button{
        width: 150px;
        height: 45px;
        background-color: rgba(0, 0, 0, .7);
        left: 50%;
        /* left: 20px; */
        top: 45%;
        transform: translate(-50%, 200%);
        font-size: 20px;
    }


    /* 為何float不行 */
    /* .wrap div:nth-child(1), .wrap div:nth-child(2), .wrap div:nth-child(3), .wrap div:nth-child(4), .wrap div:nth-child(5), .wrap div:nth-child(6){
        position: static;
        float: left;
    }
    .wrap div:nth-child(1){
        width: 280px;
        height: 120px;
    }
    .wrap div:nth-child(2){
        width: 280px;
        height: 90px;
    }
    .wrap div:nth-child(3){
        width: 280px;
        height: 140px;
    }
    .wrap div:nth-child(4){
        width: 280px;
        height: 100px;
    
    }
    .wrap div:nth-child(5){
        width: 280px;
        height: 100px;
    
    }
    .wrap div:nth-child(6){
        width: 200px;
        height: 150px;
        transform: translate(0, 0);    
    }
    button{
        width: 150px;
        height: 45px;
        background-color: rgba(0, 0, 0, .7);
        position: absolute;
        left: 20px;
        top: 45%;
        transform: translate(50%, 200%);
        opacity: 0;
        font-size: 20px;
    } */
}