/* h2::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 50px 30px;
    border-color: transparent transparent #fafafa transparent;
    position: relative;
    top: -50px;
    left: -20px; 
} */

.top{
    width: 100%;
    min-width: 1200px;
    height: 890px;
    padding-top: 25px;
    background-image: url(../img/page1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.top .container{
    width: 1140px;
    height: 80%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.top .container h1{
    color: #FFB74D;
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
    padding-top: .2em;
    align-self: flex-start;
}
.top .container .txt{
    width: 45%;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.top .container p{
    font-weight: bold;
    width: 100%;
    margin-bottom: 80px;
}
.top .container button{    
    align-self: flex-end;
    background-color: rgba(33, 33, 33, .5);
    font-weight: 500;    
} 
.paper{
    width: 100%;
    min-width: 1200px;
    height: 1020px;
    background: linear-gradient(200deg, #212121 515px, #B71C1C 515px 955px, #212121 955px);   
    position: relative;
}
.paper .container{
    width: 1200px;
    margin: auto;    
    position: relative;
}
.paper h2{
    display: inline-block;
    padding-top: 50px;
}
.paper .item{
    width: 100%;
}
/* 為什麼動畫不會執行 */
/* 要先打transform */
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.paper .item .pic{
    position: absolute;
    left: 150px;
    top: 270px;

    animation: rotate 60s linear 0s infinite;
}
.center{
    border: 10px solid #FFB74D;
    border-radius: 50%;
    width: 430px;
    height: 430px;
}
.paper .item .pic > div + div{
    border: 10px solid #212121;
    border-radius: 50%;
    background-color: #9E9E9E;
    width: 230px;
    height: 230px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: rotate 60s linear 0s infinite reverse;
}
.ana{
    top: -115px;
    left: 100px;
}
.pre{
    bottom: 8px;
    left: -80px;
}
.plan{
    bottom: 8px;
    right: -80px;
}
.paper .pic h3{
    font-size: 26px;
    padding-left: 5px;
} 
.paper .pic img{
    width: 24px;
    height: 24px;
}
.paper .item .txt{
    width: 420px;
    position: absolute;
    right: 0px;
    top: 425px;
}
.paper .item .txt a{
    color: #fafafa;
    font-weight: bold;
}
.paper button{
    position: absolute;
    right: 130px;
    top: 870px;
}
.teach{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 210px;
}
.teach .container{
    width: 1200px;
    margin: auto;
}
.teach .title{
    margin-bottom: 20px;
}
.teach .title p{
    width: 92%;
    margin: auto;
    padding-bottom: 50px;
}
.teach .wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.teach .wrap .card{
    width: 31%;
    display: flex;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}
.teach .wrap .card a{
    display: flex;
}
.teach .wrap .item{
    width: 100%;
    position: relative;
    /* transform: rotateY(-10deg); */
    transition: .5s;
    /* 本身要給立體 */
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}
.teach .wrap .card:hover .item{
    transform: rotateY(180deg);
}
.teach .wrap .item .txt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 40px;
    transform: rotateY(180deg);
    /* backface-visibility: ; */    
}
.teach .wrap .card:nth-child(1) .txt{
    background-color: rgba(221, 100, 0, .9);
}
.teach .wrap .card:nth-child(2) .txt{
    background-color: rgba(231, 63, 10, .9);
}
.teach .wrap .card:nth-child(3) .txt{
    background-color: rgba(159, 4, 4, .9);
}
.teach .wrap .item .txt h3{
    font-size: 36px;
    color: #fafafa;
    font-weight: bold;
    line-height: 2.7;
}
.teach .wrap .item .txt p{
    width: 100%;
    font-weight: 700;
}
.teach .wrap .item img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* backface-visibility: ; */
}
.book{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 100px;
}
.book .container{
    width: 1200px;
    margin: auto;
}
.book .item{
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}
.book .autoplay{
    width: 27%;
}
.book img{
    width: 100%;
    vertical-align: top;
}
.book .txt{
    width: 54%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.consultant{
    width: 100%;
    min-width: 1200px;
    height: 1100px;
    background: linear-gradient(165deg, #212121 505px, #B71C1C 505px 945px, #212121 945px);
    padding-top: 225px;
}
.consultant .container{
    width: 1200px;
    margin: auto;
}
.consultant .item{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.consultant .item .txt{
    width: 48%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.consultant .item .txt p{
    padding-bottom: 70px;
}
.consultant img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    vertical-align: middle;
}
button a{
    color: #fafafa;
}
button:hover a{
    color: #212121;
}




