/* h2::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 50px 30px;
    border-color: transparent transparent #fafafa transparent;
    position: relative;
    top: -50px;
    left: -20px;
} */
.top{
    width: 100%;
    height: 890px;
    padding-top: 25px;
    background-image: url(../img/page1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.top .container{
    width: 100%;
    max-width: 1140px;
    height: 80%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.top .container h1{
    color: #FFB74D;
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
    padding-top: .2em;
    align-self: flex-start;
}
.top .container .txt{
    width: 45%;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.top .container p{
    font-weight: bold;
    width: 100%;
    margin-bottom: 80px;
}
.top .container button{    
    align-self: flex-end;
    background-color: rgba(33, 33, 33, .5);
    font-weight: 500;    
}
.paper{
    width: 100%;
    height: 1020px;
    background: linear-gradient(200deg, #212121 515px, #B71C1C 515px 955px, #212121 955px);   
    position: relative;
}
.paper .container{
    max-width: 1140px;
    width: 100%;
    margin: auto;    
    position: relative;
}
.paper h2{
    display: inline-block;
    padding-top: 50px;
}
.paper .item{
    width: 100%;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.paper .item .pic{
    position: absolute;
    left: 150px;
    top: 270px;

    animation: rotate 60s linear 0s infinite;
}
.center{
    border: 10px solid #FFB74D;
    border-radius: 50%;
    width: 430px;
    height: 430px;
}
.paper .item .pic > div + div{
    border: 10px solid #212121;
    border-radius: 50%;
    background-color: #9E9E9E;
    width: 230px;
    height: 230px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: rotate 60s linear 0s infinite reverse;
}
.ana{
    top: -115px;
    left: 100px;
}
.pre{
    bottom: 8px;
    left: -80px;
}
.plan{
    bottom: 8px;
    right: -80px;
}
.paper .pic h3{
    font-size: 26px;
    padding-left: 5px;
} 
.paper .pic img{
    width: 24px;
    height: 24px;
}
.paper .item .txt{
    width: 420px;
    position: absolute;
    right: 0px;
    top: 425px;
}
.paper .item .txt a{
    color: #fafafa;
    font-weight: bold;
    text-decoration: underline;
}
.paper button{
    position: absolute;
    right: 130px;
    top: 870px;
}
.teach{
    width: 100%;
    margin-bottom: 210px;
}
.teach .container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.teach .title{
    margin-bottom: 20px;
}
.teach .title p{
    width: 92%;
    margin: auto;
    padding-bottom: 50px;
}
.teach .wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.teach .wrap .card{
    width: 31%;
    display: flex;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}
.teach .wrap .card a{
    display: flex;
}
.teach .wrap .item{
    width: 100%;
    position: relative;
    /* transform: rotateY(-10deg); */
    transition: .5s;
    /* 本身要給立體 */
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}
.teach .wrap .card:hover .item{
    transform: rotateY(180deg);
}
.teach .wrap .item .txt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 40px;
    transform: rotateY(180deg);
    /* backface-visibility: ; */    
}
.teach .wrap .card:nth-child(1) .txt{
    background-color: rgba(221, 100, 0, .9);
}
.teach .wrap .card:nth-child(2) .txt{
    background-color: rgba(231, 63, 10, .9);
}
.teach .wrap .card:nth-child(3) .txt{
    background-color: rgba(159, 4, 4, .9);
}
.teach .wrap .item .txt h3{
    font-size: 36px;
    color: #fafafa;
    font-weight: bold;
    line-height: 2.7;
}
.teach .wrap .item .txt p{
    width: 100%;
    font-weight: 700;
}
.teach .wrap .item img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* backface-visibility: ; */
}
.book{
    width: 100%;
    margin-bottom: 100px;
}
.book .container{
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
.book .item{
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}
.book .autoplay{
    width: 27%;
}
.book img{
    width: 100%;
    vertical-align: top;
}
.book .txt{
    width: 54%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.consultant{
    width: 100%;
    height: 1100px;
    background: linear-gradient(165deg, #212121 505px, #B71C1C 505px 945px, #212121 945px);
    padding-top: 225px;
}
.consultant .container{
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
.consultant .item{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.consultant .item .txt{
    width: 48%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.consultant .item .txt p{
    padding-bottom: 70px;
}
.consultant img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    vertical-align: middle;
}
button a{
    color: #fafafa;
}
button:hover a{
    color: #212121;
}

@media screen and (min-width: 1701px) and (max-width: 1800px){
    .top .container{
        max-width: 1000px;
    }
    .top .container button{
        transform: translateX(50px);
    }
}
@media screen and (min-width: 992px) and (max-width: 1700px){
    .top .container{
        max-width: 850px;
    }    
    .top .container button{
        transform: translateX(100px);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1440px){    
    .paper{
        height: 810px;
        background: linear-gradient(197deg, #212121 315px, #B71C1C 215px 755px, #212121 755px);
        margin-bottom: 150px;
    }
    .paper h2{
        transform: translate(50%, 30%);
        padding-top: 0;
    }
    .paper .item .pic{
        left: 190px;
        top: 230px;
    }
    .center{
        width: 370px;
        height: 370px;
    }
    .paper .item .pic > div + div{
        width: 200px;
        height: 200px;
    }
    .paper .item .txt{
        right: 20px;
        top: 310px;
    }
    .paper button{
        top: 715px;
        right: 150px;
    }
    .teach .container, .book .container, .consultant .container{
        max-width: 1140px;
    }
    .teach .wrap .item .txt p{
        font-size: 22px;
    }
    .book{
        margin-bottom: 0px;
    }
    .consultant{
        background: linear-gradient(166deg, #212121 505px, #B71C1C 505px 945px, #212121 945px);
        padding-top: 320px;
        margin-bottom: 100px;
    }
    .consultant .item{
        padding-top: 40px;
    }
    .consultant .item .txt{
        max-width: 500px;
    }
    
    
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .paper .container, .teach .container, .book .container, .consultant .container{
        width: 95%;
        max-width: 960px;
    }   
    .paper{
        height: 1200px;
        background: none;
        margin-bottom: 100px;
        /* background: linear-gradient(197deg, #212121 415px, #B71C1C 415px 955px, #212121 955px); */
        /* background: linear-gradient(198.5deg, #212121 615px, #B71C1C 615px 1105px, #212121 1105px); */
    }
    .paper .item .txt{
        right: 13%;
        top: 820px;
        width: 700px;
    }
    .paper .item .pic{
        top: 250px;
        left: 30%;
    }
    .paper button{
        /* position: absolute; */
        right: 130px;
        top: 1070px;
    }
    .teach .wrap .card{
        width: 32%;
    }
    .teach .item .txt p{
        font-size: 18px;
    }
    .consultant{
        padding-top: 100px;
        height: 900px;
    }
    .consultant img{
        width: 420px;
        height: 420px;
    }    
}
@media screen and (max-width: 991px) and (min-width: 768px){    
    .top .container, .paper .container, .teach .container, .book .container, .consultant .container{
        width: 100%;
        max-width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top .container h1{
        align-self: center;
    }
    .top .container .txt{
        width: 60%;
    }    
    .paper{
        height: auto;
        background: none;
        margin-bottom: 150px;
    }
    /* .paper .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .paper .item{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .paper .item .pic{
        position: static;    
        animation: none;
        display: flex;
        justify-content: space-around;
        margin: 70px 0;
    }
    .center{
        border: 0 solid transparent;
        width: auto;
        height: auto;
    }
    .paper .item .pic > div + div{
        border: 5px solid #FFB74D;
        background-color: rgb(202, 199, 199);
        position: static;        
        animation: none;
        width: 200px;
        height: 200px;
        margin: 0 20px;
    }
    .paper .item .txt, .paper button{
        position: static;
    }
    .teach{
        margin-bottom: 150px;
    }
    .teach .container h2{
        /* display: inline-block; */
        text-align: center;
    }
    .teach .wrap{
        flex-flow: column;
        align-items: center;
    }
    .teach .wrap .card{
        width: 60%;
        margin-bottom: 50px;
    }
    .teach .wrap .card:nth-child(3) .item img{
        height: 603px;
    }
    .teach .wrap .card .item{
        transform: rotateY(180deg);
    }
    .teach .wrap .item .txt h3{
        font-size: 42px;
    }
    .teach .wrap .item .txt p{
        font-size: 28px;
    }    
    .book .item{
        flex-flow: wrap;
    }
    .book .txt{
        width: 85%;
    }
    .book .txt p{
        margin-bottom: 50px;
    }
    .book .autoplay{
        width: 50%;
    }
    .consultant{
        padding-top: 0;
        height: auto;
        background: linear-gradient(167deg, #212121 220px, #B71C1C 220px 640px, #212121 640px);
        padding-bottom: 150px;        
    }
    .consultant .pic{
        display: none;
    }
    .consultant .item{
        margin-top: 50px;
    }
    .consultant .item .txt{
        width: 80%;
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 50px 30px;
        border-color: transparent transparent #fafafa transparent;
        position: relative;
        top: -50px;
        left: -20px;
    }
}
@media all and (max-width: 767px) and (min-width: 576px){
    .top .container, .paper .container, .teach .container, .book .container, .consultant .container{
        width: 95%;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top{        
        background: none;
        height: auto;
    }
    .top .container h1{
        font-size: 80px;
        align-self: center;
        margin-bottom: 50px;
    }
    .top .container .txt{
        width: 90%;
        text-align: center;
    }
    .top .container button{    
        align-self: center;
        margin-bottom: 100px;    
    }
    .paper{
        height: auto;
        background: none;
        margin-bottom: 150px;
    }
    /* .paper .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .paper .item{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .paper .item .pic{
        position: static;    
        animation: none;
        display: flex;
        justify-content: space-around;
        margin: 70px 0;
    }
    .center{
        border: 0 solid transparent;
        width: auto;
        height: auto;
    }
    .paper .item .pic > div + div{
        border: 5px solid #FFB74D;
        background-color: rgb(202, 199, 199);
        position: static;        
        animation: none;
        width: 100px;
        height: 100px;
        margin: 0 20px;
    }
    .paper .item .pic > div + div h3{
        font-size: 30px;
        text-align: center;
    }
    .paper .item .pic > div + div img{
        display: none;
    }
    .paper .item .txt, .paper button{
        position: static;
    }
    .paper .item .txt a{
        color: #FFB74D;
        text-decoration: none;
    }
    .teach{
        margin-bottom: 150px;
    }
    .teach .container h2{        
        text-align: center;
        margin-bottom: 50px;
    }
    .teach .wrap .card .item{
        transform: rotateY(180deg);
    }
    .teach .wrap .item .txt{
        display: flex;
        align-items: center;
    }
    .teach .wrap .item .txt h3{
        font-size: 30px;
    }
    .teach .wrap .item .txt p{
        display: none;
    }
    
    .book .txt{
        width: 85%;
    }
    .book .txt p{
        margin-bottom: 70px;
    }
    .book .autoplay{
        display: none;
    }
    h2::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 50px 30px;
        border-color: transparent transparent #fafafa transparent;
        position: relative;
        top: -50px;
        left: -20px;
    }
    .consultant{
        padding-top: 0;
        height: auto;
        background: none;
        padding-bottom: 150px;        
    }
    .consultant .pic{
        display: none;
    }
    .consultant .item{
        margin-top: 50px;
    }
    .consultant .item .txt{
        width: 80%;
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 50px 30px;
        border-color: transparent transparent #fafafa transparent;
        position: relative;
        top: -50px;
        left: -20px;
    }
}

@media all and (max-width: 575px){
    .top .container, .paper .container, .teach .container, .book .container, .consultant .container{
        width: 100%;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        color: #FFB74D;
    }
    .top{        
        background: none;
        height: auto;
    }
    .top .container h1{
        font-size: 60px;
        align-self: center;
        margin-bottom: 50px;
    }
    .top .container .txt{
        width: 85%;
        text-align: center;
    }
    .top .container .txt p{
        font-size: 20px;
    }
    .top .container button{    
        align-self: center;
        margin-bottom: 50px;    
    }
    .paper{
        height: auto;
        background: none;
        margin-bottom: 50px;
    }    
    .paper .item{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .paper .item .pic{
        width: 100%;
        position: static;    
        animation: none;
        display: flex;
        justify-content: space-around;
        margin: 20px 0 70px;
    }
    .center{
        border: 0 solid transparent;
        width: auto;
        height: auto;
    }
    .paper .item .pic > div + div{
        border: 5px solid #FFB74D;
        background-color: rgb(202, 199, 199);
        position: static;        
        animation: none;
        width: 90px;
        height: 90px;
        margin: 0 20px;
    }
    .paper .item .pic > div + div h3{
        font-size: 30px;
        text-align: center;
    }
    .paper .item .pic > div + div img{
        display: none;
    }
    .paper .item .txt{
        width: 85%;
    }
    .paper .item .txt, .paper button{
        position: static;
    }
    .paper .item .txt a{
        color: #FFB74D;
        text-decoration: none;
    }
    .teach{
        margin-bottom: 100px;
    }
    .teach .wrap{
        width: 95%;
    }
    .teach .title p{
        width: 85%;
        font-size: 22px;
    }
    .teach .container h2{        
        text-align: center;
        margin-bottom: 0;
    }
    .teach .wrap .card .item{
        transform: rotateY(180deg);
    }
    .teach .wrap .item .txt{
        display: flex;
        align-items: center;
    }
    .teach .wrap .item .txt h3{
        line-height: 1;
        font-size: 30px;
    }
    .teach .wrap .item .txt p{
        display: none;
    }
    .teach .wrap .card:hover .item{
        transform: rotateY(0deg);
    }
    
    .book{
        margin-bottom: 0;
    }
    .book .item{
        margin-top: 0;
    }
    .book .txt{
        width: 85%;
    }
    .book .txt p{
        margin-bottom: 50px;
    }
    .book .autoplay{
        display: none;
    }    
    .consultant{
        padding-top: 0;
        height: auto;
        background: none;
        padding-bottom: 150px;        
    }
    .consultant .pic{
        display: none;
    }
    .consultant .item{
        margin-top: 0;
    }
    .consultant .item .txt{
        width: 80%;
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .consultant .item .txt p{
        padding-bottom: 50px;
    }
    h2::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 50px 30px;
        border-color: transparent transparent #fafafa transparent;
        position: relative;
        top: -50px;
        left: -20px;
    }
}



