.paper{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    margin-bottom: 200px;
}
.paper .container{
    width: 100%;
    padding: 0 35px;
}
.paper .container .item + .item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.container .item + .item .pic{
    width: 30%;
    display: flex; 
}
.container .item:nth-child(2) .pic{
    align-self: flex-end;
}
.container .item:nth-child(3) .pic{
    align-items: center;
}
.container .item .txt{
    width: 65%;
    text-align: justify;
}
.container .item .pic img{
    width: 100%;
    vertical-align: middle;
}
.container .item h3{
    font-size: 36px;
    color: #FAFAFA;
    font-weight: bold;
    line-height: 2.7;
}
.container .item .txt p{
    padding-left: 1em;
}
.container .item .txt p + p{    
    margin-top: 20px;
}
.container .item:first-child{
    margin-bottom: 170px;
}
.container .item:first-child::after{
    content: "";
    clear: both;  
}
.container .item:first-child .pic{
    width: 30%;
    float: right;
    padding-top: 5px;
    margin: 25px;
    /*float 要在上 */
}
.container .item:first-child p{
    text-align: justify;
    padding: 1em;
}
footer{
    margin-top: 280px;
}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .paper{
        max-width: 960px;
    }
    .container .item:nth-child(2) .txt{
        width: 100%;
    }
    .container .item:nth-child(2) .txt p{
        font-size: 26px;
    }
    .container .item:nth-child(2) .pic{
        display: none;
    }

}

@media screen and (max-width: 991px) and(min-width: 576px){
    .paper{
        max-width: 720px;
    }
    .container .item:first-child{
        margin-bottom: 70px;
    }
    .paper .container .item + .item{
        margin-bottom: 70px;
    }
    .container .item + .item .txt{
        width: 100%;
    }
    .container .item + .item .txt p{
        font-size: 26px;
    }
    .container .item .pic{
        display: none;
    }
    .container .item + .item .pic{
        display: none;
    }
    footer{
        margin-top: 100px;
    }
}

@media all and (max-width: 575px){    
    .paper{
        max-width: 720px;
        margin-bottom: 100px;
    }
    .paper .container{
        padding: 0 15px;
    }
    .container .item h3{
        font-size: 30px;
        line-height: 2;
    }
    .container .item:first-child{
        margin-bottom: 70px;
    }
    .paper .container .item + .item{
        margin-bottom: 70px;
    }
    .container .item .txt p{    
        margin-top: 20px;
        padding: 0 13px;
    }
    .container .item + .item .txt{
        width: 100%;
    }
    .container .item .pic{
        display: none;
    }
    .container .item + .item .pic{
        display: none;
    }
    footer{
        margin-top: 0px;
    }
}