
.wrap{
    width: 100%;
    /* min-width: 1200px; */
    display: flex;    
}
aside{
    width: 20%;
    min-width: 280px;
    padding-top: 100px;
}
aside .txt_aside{
    width: 280px;
    margin: auto;
}
aside ol{
    width: 100%;
}
aside li{
    width: 100%;
    color: #fafafa;
    padding: 30px;
}
aside li span:hover{
    cursor: pointer;
}
aside h3{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
}
main{
    width: 80%;
}
main .container{
    width: 100%;
    box-shadow: 0px -10px 8px 3px rgb(85, 64, 51);
    transition: .5s;
}

main .container:hover .control{    
    margin-top: -15px;
}
main .container:nth-child(1), main .container:nth-child(4), main .container:nth-child(7), main .container:nth-child(10){
    background-color: rgb(241, 149, 56);
}
main .container:nth-child(2), main .container:nth-child(5), main .container:nth-child(8), main .container:nth-child(11){
    background-color: rgb(233, 97, 56);
}
main .container:nth-child(3), main .container:nth-child(6), main .container:nth-child(9){
    background-color: rgb(192, 53, 53);
}
main .container h3{
    font-size: 42px;
    font-weight: bold;
    padding: 50px 0 40px;
    text-align: center;
    color: rgb(71, 44, 44);
    transition: .5s;
    margin-top: 0;
}
main .container h3:hover{
    cursor: pointer;
}
main .txt{
    width: 90%;
    margin: auto;
    display: none;
}
main p{
    width: 100%;
    padding: 40px 30px 30px 50px;
    color: rgb(43, 34, 34);
}

@media screen and (max-width: 991px) and (min-width: 576px){
    .wrap{
        display: flex;
        justify-content: center;
    }
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    main .container h3{
        font-size: 36px;
    }
    main p{
        padding: 0 30px 30px 50px;
    }
}
@media screen and (max-width: 575px){
    .wrap{
        display: flex;
        justify-content: center;
    }
    aside{
        display: none;
    }
    main{
        width: 100%;
    }
    main .container h3{
        font-size: 30px;
    }
    main p{
        padding: 0 30px 30px 50px;
    }
}